body {
    background: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    justify-content: end;
}

.templatemo-home {
    background: url('../images/workspace.jpg');
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;  
    height: 100vh;
  }
/* start-home */
.btn-default {
  background-color: #000000;
  color: #ffffff;
}

.btn-default:hover {
  background-color: #ffffff;
  color: #000000;
} 
/* end-home */
  .navbar {
   background-color: black;
  }

  .navbar .button {
    background-color: black;
    color: #ffffff;
  }
  .my-work {
    padding: 20px;
  }

  .card {
    margin-bottom: 20px;
  }

  /* START RESUME */

.resume-container {
  background-color: #ffffff;
}
.tm-red-text { color: #eb5424; }
.tm-info-label {
  font-weight: bold;
  display: inline-block;
  width: 90px;
}
.tm-progress {
  background: #fff;
  border-radius: 2px;
  height: 4px;
}
.progress-bar-danger { background: #eb5424; }
.tm-progress-label {
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  text-transform: uppercase;
}
.progress-percent-small {
  display: block;
  float: right;
  padding-right: 80px;
}
/* END RESUME */

/* START ABOUT */
.tm-about {
  background: url('../images/workspace.jpg');
  background-size: cover;
  background-position: center center;
  margin-top: 20px;
  padding-top: 60px;
  padding-bottom: 100px;
}
/* END ABOUT */

/* START CONTACT */
.tm-contact {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}
.form-control {
  background: transparent;
  border: 1px solid #666;
  border-radius: 2px;
  margin-bottom: 10px;
  -webkit-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
}
.form-control:focus,
 .form-control:hover {
  background: #202020;
  color: #ffffff;
}
input { height: 50px; }
.tm-contact p { padding-top: 40px; }
/* END CONTACT */